<form class="form-horizontal">
  <fieldset>
    <legend>Create A New Quote</legend>

     <div class="form-group" data-ng-repeat="speaker in speakers">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <input type="text"  ng-model="speaker.speakerName" speakerName=""  class="form-control" id="inputDefault" placeholder="Speaker {{$index + 1 }} Name (req)">
        </div>

        <div class="col-md-8">
          <input type="text"  ng-model="speaker.text" text=""  class="form-control" id="inputDefault" placeholder="Quote (required)">
        </div>

        <div class="col-md-1" style="margin-top: 5px;">
          <button type="button" ng-show="$last" ng-click="removespeaker()" tooltips tooltip-side="top" tooltip-size="medium" tooltip-speed="fast" tooltip-delay="70"  title="Click to delete last speaker and quote" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>

      </div>
    </div>
    
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2" style="padding-left: 4px;">
        <button class="btn btn-info btn-sm" ng-click="addNewspeaker()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add Speakers
        </button>
      </div>
    </div>

</fieldset>
<br></br>

<fieldset>
  <legend>Other Details</legend>
    <div class="form-group">
      <div class="col-md-1"></div>
      <label for="inputDefault" class="col-lg-1 control-label">When</label>
      <div class="col-lg-9">
        <input type="text" ng-model="quote.date" class="form-control" id="inputDefault" placeholder="(optional)" >
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-1"></div>
      <label for="inputDefault" class="col-lg-1 control-label">Where</label>
      <div class="col-lg-9">
        <input type="text" ng-model="quote.location" class="form-control" id="inputDefault" placeholder="(optional)">
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-1"></div>
      <label for="inputDefault" class="col-lg-1 control-label">Context</label>
      <div class="col-lg-9">
        <input type="text" ng-model="quote.context" class="form-control" id="inputDefault" placeholder=" Any background info (optional)">
      </div>
    </div>
    <br></br>

    <div class="form-group">
      <div class="col-md-1"></div>
      <div class="col-lg-1">
        <a style="color:red;" ng-model="quote.fav" ng-class="{false: 'fa fa-heart fa-border fa-2x', true: 'fa fa-border fa-heart-o fa-2x'}[!quote.fav]" ng-click="quote.fav = !quote.fav" tooltips tooltip-side="top" tooltip-size="medium" tooltip-speed="fast" tooltip-delay="70"  title="Favourite this quote!"></a>
      </div>
      <div class="col-md-1">
        <a href="#" ng-click="quote.saveQuote()" ng-if="speakers.length > 0"  ng-disabled="quote.reqFieldTooltip = !!!speakers[0].speakerName || !!!speakers[0].text  || speakers[0].speakerName.length < 1 ||  speakers[0].text.length < 1 " class="btn btn-success">
          Save Quote</a>

        <button class="btn btn-info btn" ng-if="speakers.length < 1" ng-click="addNewspeaker()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Speakers
        </button>
      </div>
      <div class="col-md-1" style="margin-left: 50px;">
        <a href="#" class="btn btn-danger" ng-click="quote.cancelNewQuote()">Cancel</a>
      </div>
      <div class="col-md-7"></div>
      
    </div>

  </fieldset>
</form>

<br></br>

<!--  <div id="choicesDisplay">
      {{ speakers }}
   </div>
 -->
