
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6 col-sm-4"></div>
    <div class="col-xs-6 col-sm-4" ng-if="quote.showContext">
      <br></br>
      <strong>*{{quote.showContext}}*</strong>
    </div>
    <div class="col-xs-6 col-sm-4"></div>
  </div>

  <br></br>


  <div class="row">
    <div class="col-md-1">
      <i class="fa fa-quote-left fa-lg"></i>
    </div>
    <div class="col-md-11"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <!-- <div class="well well-lg"> -->
        <div class="alert alert-info disabled">
          <!-- <button type="button" data-dismiss="alert">×</button> -->
  <!-- <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again. -->

        <blockquote>
          <table class="table" id="showQuoteTable">
                <tr  data-ng-repeat="quote in quote.showQuote" >
                  <td width="15%"><strong>{{quote.speakerName}}</strong>: </td>
                  <td >{{quote.text}}</td>
                </tr>
            </tr>
          </table>
        </blockquote>

      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
 
  <div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1" style="padding-left:50px;">
      <i class="fa fa-quote-right fa-lg"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2" style=" padding-left: 55px; color:red;">
      <i class="fa fa-heart fa-lg" ng-if="quote.showFav"></i>
      <i class="fa fa-heart-o fa-lg" ng-if="!quote.showFav"></i>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6 col-sm-4"></div>
    <div class="col-xs-6 col-sm-4">
        <table class="table">
          <tr ng-if="quote.showDate">
            <p></p>
            <td <i class="fa fa-calendar fa-lg "></td>
            <td >{{ quote.showDate}}</td>
          </tr>
          <tr ng-if="quote.showLocation">
            <td <i class="fa fa-map-marker fa-lg "></td>
            <td >{{ quote.showLocation}}</td>
          </tr>
        </table>
    </div>
    <div class="col-xs-6 col-sm-4"></div>
  </div>



</div>
